.search-button:hover {
    background-color: purple;
  }
  
  #price:hover {
    background-color: purple;
  }

  #policy:hover {
    background-color: purple;
  }

  #price{
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: plum;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  }
  #policy{  
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: plum;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  }

  .banner{
    width: 300px;
    border-right : 3px solid plum;
    background-color: whitesmoke;
  
  }
  
  .button{
    display: flex;
    justify-content: center; /* 가로 방향 가운데 정렬 */
    align-items: center; /* 세로 방향 가운데 정렬 */
    
  }