.logo {
    margin-right: 1000px;
    margin-top: 10px;
    width: 120px;
    
  }
  .header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; 
    margin-top: 10px;
  }
  