.ranking-area{
    display: flex;
    flex-direction: column;
}

.Cards {
    display: grid;
    grid-template-columns: repeat(1,10%);
    grid-template-rows: minmax(auto);
  }
  

.best-card{
    background-color: plum;
    margin-left: 450%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600%;
}
.card-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5%;
    overflow: 'hidden';
    textOverflow : 'ellipsis';
}
.card-text2{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.crownimg{
    display: grid;
    margin-left: 650%;
}